.section__contact {
    height: 450px;
    background-image: url(../img/sections-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.contact__header {
    font-size: 60px;
}

.contact__div--header {
    align-self: flex-start;
    margin-top: 0;
    flex-basis: 100%;
    height: 150px;
}

.contact__div--information {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    
}

.list__component--decorationContact {
    list-style-type: none;
    margin: 10px;
}

.title__information {
    font-size: 25px;
}

.contact__time {
    margin-top: 50px;
}


