.section__galery {
    height: 4000px;
    background-image: url(../img/sections-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.galery__header {
    margin-top: 0;
}

.galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.galery__component {
    width: 400px;
}

.picture {
    width: 300px;
}