.section__menu {
    height: 5200px;
    background-image: url(../img/sections-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__header {
    font-size: 60px;
}

.menu__navigation {
    padding: 0;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation--component {
    list-style-type: none;
    transition: 300ms;
}

.navigation--component:hover {
    transform: scale(1.4);
}

.navigation--a {
    font-size: 20px;
    color: rgb(186, 180, 180);
    transition: 300ms;
    text-decoration: none;
}

.navigation--a:hover {
    transform: scale(1.5);
    color: rgb(249, 225, 193);
}

.navigation__line {
    width: 1300px;
    border-bottom: 1px solid white;
}

.menu__component {
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
}

.component__header {
    font-size: 40px;
    margin-bottom: 5px;
}

.component__paragraph {
    font-size: 25px;
    width: 600px;
    margin-top: 0;
    border-bottom: 2px solid white;
}

.component__description {
    font-size: 16px;
}