.section__galery {
    height: 4000px;
    background-image: url(../img/sections-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.galery__header {
    margin-top: 0;
}

.galery {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

}

.galery__header {
    padding: 40px;
    font-size: 60px;
    color: white;
}




.picture {
    width: 350px;
    height: 350px;
}

.galery__component--right {
    transition: 400ms;
}

.galery__component--right:hover {
    transform: scale(1.6) translateX(-150px);
}

.galery__component--left {
    transition: 400ms;
}

.galery__component--left:hover {
    transform: scale(1.6) translateX(150px);
}